header {
  width: 100%;
  flex: 0 0 auto;
  background: url("../img/top-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.3); }
  header a {
    color: #fff; }
  header i[class^="fas"] {
    margin-right: 5px;
    margin-left: 5px; }
  @media screen and (max-width: 767px) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000; } }

.header-top {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem; }
  @media screen and (max-width: 767px) {
    .header-top {
      display: none; } }

.header-top__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0; }

.header-info__phones {
  position: relative; }

.show-more-phone {
  cursor: pointer; }

.header-info__more-phone {
  display: none;
  position: absolute;
  top: 35px;
  left: -1px;
  width: 100%;
  box-sizing: content-box;
  white-space: nowrap; }
  .header-info__more-phone a {
    padding: 10px 30px 10px 32px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.6); }

.header-info__search {
  cursor: pointer; }

.header-info-mobile,
.mobile-search {
  width: 100%;
  padding: 15px 20px; }

@media screen and (max-width: 767px) {
  .header-info-mobile {
    display: flex;
    flex-direction: column; } }

.header-info-mobile span {
  margin: 10px 0; }

.header-main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px; }

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 20px; }

.header__title {
  margin: 0 0 0 15px;
  font-size: 2rem;
  font-weight: 300; }

.header-menu__nav.open-menu {
  width: 100%;
  top: 80px;
  right: 0;
  z-index: 1000; }

.header-menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .header-menu__nav {
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      background: #fff;
      transition: 0.3s;
      color: #666;
      overflow-y: auto;
      right: -100%; }
      .header-menu__nav a {
        color: #666; } }

.header-menu__burger-btn {
  margin-right: 20px;
  width: 40px;
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .header-menu__burger-btn {
      display: block; } }

.header-menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .header-menu__list {
      display: block;
      width: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd; } }
  @media screen and (max-width: 767px) {
    .header-menu__list li {
      border-bottom: 1px solid #ddd; } }
  .header-menu__list li:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  @media screen and (max-width: 767px) {
    .header-menu__list li:last-child {
      border-bottom: none; } }

.header-menu__item {
  display: block;
  padding: 30px 15px 30px; }
  .header-menu__item span {
    padding: 20px 0; }
  @media screen and (max-width: 767px) {
    .header-menu__item {
      padding: 15px 24px; } }

.main-menu {
  position: relative; }

.submenu {
  background-color: #fff;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3); }

.dropdown__submenu {
  display: none;
  position: absolute; }
  @media screen and (max-width: 767px) {
    .dropdown__submenu {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px -10px inset, rgba(0, 0, 0, 0.2) 0px -5px 15px -10px inset;
      padding: 5px 15px; } }

.dropdown:hover .dropdown-menu__submenu {
  display: block; }

@media screen and (max-width: 767px) {
  .dropdown {
    position: relative; } }

.dropdown__expand {
  display: none; }
  @media screen and (max-width: 767px) {
    .dropdown__expand {
      display: block;
      position: absolute;
      top: 0;
      right: 18px;
      line-height: 50px;
      cursor: pointer; } }

.submenu__item {
  padding: 8px 10px;
  color: #666;
  display: block; }
  @media screen and (min-width: 768px) {
    .submenu__item:hover {
      background-color: #ddd; } }
