html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #f6f6f6; }

.main-content {
  flex: 1 0 auto; }

section {
  margin-top: 40px;
  margin-bottom: 30px; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.no-scroll {
  overflow: hidden; }

.btn {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer; }

.btn-default,
.btn-primary {
  color: #fff;
  background-color: #1976d2;
  border-color: #1976d2; }

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }

.dashed {
  border-bottom: 1px dashed; }

.wrapper {
  max-width: 1360px;
  margin: 0 auto; }

.title {
  margin: 0 0 15px 30px; }

.hidden {
  display: none; }

.right {
  right: 0; }

.fade {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out; }

.fade.in {
  visibility: visible;
  opacity: 1; }

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer; }

.mobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile {
      display: block; } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
