*,
*::before,
*::after {
  box-sizing: border-box;
}

/* убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
i,
figure,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}