.search {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000; }

.search-form {
  position: relative;
  margin: 40px 30px; }
  .search-form .close-btn {
    top: 0;
    right: 20px; }

.search__input {
  width: 90%;
  height: 48px;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #ddd; }
  .search__input:focus {
    outline: none; }
