$modal-width: 400;
$modal-height: 600;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: $modal-width + px;
  height: $modal-height + px;
  padding: 10px;
  margin-left: -($modal-width/2 + px);
  margin-top: -($modal-height/2 + px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 1001;

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.modal__header {
  height: 80px;
  border-bottom: 1px solid #ddd;
  padding: 25px 20px;
  font-size: 1.5rem;
}
.modal__content {
}
.modal__footer {
  border-top: 1px solid #ddd;
  height: 100px;
}
