.search,
.mobile-search {
  width: 100%;
}

.search {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  font-size: 1.5rem;
}

.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.search__container {
  background-color: #fff;
}

.search__row {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.search__form,
.mobile-search__form {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex: 0 0 95%;
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .mobile-search__form {
    margin: 0;
  }
}

.search__input-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search__input {
  width: 100%;
  height: 48px;
  font-size: 1.5rem;
  padding: 0px 54px 0 20px;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 767px) {
    height: 40px;
    font-size: 1rem;
  }
}

.search__clear-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  color: #666;
  cursor: pointer;
}

.search__button {
  margin-left: 10px;
}

.search__close-btn {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
